{% comment %} <nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto"> 
    </ul>
  </div>
  <div class="mx-auto order-0">
    {% comment %} <a class="navbar-brand" href="/" style="font-size:30px">
      <img src="{% static "img/logo.png" %}" width="35" height="35" alt="logo"> Encore
    </a> {% endcomment %
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blog:home' %}">Home</a>
      </li>
      {% if user.is_authenticated %}
        
        <li class="nav-item">
          <a class="btn btn-outline-primary" href="{% url 'blog:profile' %}">Welcome {{user.username|title}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:logout' %}">Logout</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:login' %}">Login</a>
        </li>
        <li class="nav-item">
           <a class="btn btn-outline-primary" href="{% url 'blog:register' %}">Register</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav> {% endcomment %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <a href="{% url 'blog:home' %}" class="navbar-brand">Sims Blog</a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          {% if user.is_authenticated  %}
          
          <div class="navbar-nav">
            <a href="{% url 'blog:home' %}" class="nav-item nav-link active">Home</a>
            <a href="{% url 'blog:myposts' %}" class="nav-item nav-link">My Posts</a>
        </div>
        <div class="navbar-nav ms-auto">
            <a class="btn btn-outline-primary" href="{% url 'blog:profile' %}">Profile</a>
            <a class="nav-link" href="{% url 'blog:profile' %}">Welcome {{user.username|title}}</a>
            <a class="nav-link" href="{% url 'blog:logout' %}">Logout</a>
        </div>
        {% else %}

          <div class="navbar-nav">
            <a href="{% url 'blog:home' %}" class="nav-item nav-link active">Home</a>
        </div>
        <div class="navbar-nav ms-auto">
            <a href="{% url 'blog:login' %}" class="nav-item nav-link">Login</a>
            <a href="{% url 'blog:register' %}" class="nav-item nav-link">Register</a>
        </div>

          {% endif %}
          
            
      </div>
  </div>
</nav>